.inner {
  max-width: 987px;
  margin: 0 auto;
}
.app-header {
    background-color: #76e4eb;
    height: 48px;
    left: 0px;
    top: 0px;
  }
  .hero-banner {
    background-color: #315fa4;
    height: 420px;
    left: 0px;
    top: 48px;
    margin-bottom: 20px;
  }
  .column {
    background-color: #ca1dcd;
    height: 460px;
    left: 0px;
    top: 488px;
    margin-bottom: 20px;
  }
  .column:nth-child(2) {
      height: 220px;
  }
  .footer {
    background-color: #c01887;
    height: 162px;
    left: 0px;
    top: 1208px;
  }

@media screen and (min-width: 767px) {
  .app-header {
    background-color: #76e4eb;
    width: 987px;
    margin: 0;
    height: 48px;
  }

  .hero-banner {
    background-color: #315fa4;
    width: 987px;
    height: 420px;
    margin-bottom: 20px;
  }

  .column {
    display: inline-block;
    background-color: #ca1dcd;
    width: 623px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .column:nth-child(2) {
    background-color: #ca1dcd;
    margin-right: 0%;
    width: 34%;
  }

  .footer {
    background-color: #c01887;
    width: 987px;
    height: 172px;
}
